.map-container {
  position: relative;
  height: 100vh;
  width: 100%;
}

#map {
  height: 50vh;
  width: 100%;
}

:host ::ng-deep .leaflet-control-zoom {
  border: none;
}

:host ::ng-deep .leaflet-control-zoom a {
  background-color: rgba(255, 255, 255, 0.0);

  border: 2px solid rgb(255, 0, 170);

  color: black;

  width: 34px;
  height: 34px;
  line-height: 34px; 

  border-radius: 10px;

  transition: background-color 0.5s ease, color 0.2s ease;
}

:host ::ng-deep .leaflet-control-zoom a:hover {
  background-color: white;
  color: black;
}

:host ::ng-deep .leaflet-control-zoom a:active {
  background-color: rgb(212, 0, 255);

  color: white;

  transition: background-color 0.001s ease, color 0.2s ease;
}

:host ::ng-deep .leaflet-control-zoom-in {
  border-radius: 10px 10px 0 0;
}

:host ::ng-deep .leaflet-control-zoom-out {
  border-radius: 0 0 10px 10px;
  border-top: none;
}